*{
    box-sizing: border-box;
}

h2, h3, h4, p{
    margin: 0;
}

.row_brake{
    content: ' ';
    display: block;
}

main{
    background-color:white;
}


/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

header{
    min-height: 15vh;
    display: flex;
}

.header_title{
    width: 100vw;
    background-color: rgb(83, 115, 72);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header_title h2{
    display: none;
    color: white;
    margin:0;
}

h1{
    margin:0;
    color:  white;
    margin-top: 40px;
}


/*-----------------------------------------------------------
-------------------------Menu button------------------------------
------------------------------------------------------------*/

.menu_button{
    height: 50px;
    width: 55px;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 3;
    pointer-events: none;
}

.menu_button span{
    background-color: black;
    width: 35px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

input{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 75px;
    right: 0;
    background-color: lightseagreen;
    width: 50vw;
    height: 50vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.516);
    text-transform: uppercase;
}

li{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
}

/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

.first_page_box{
 height:13vh ;
 width: 80vw;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 1vh;
}

.first_page_box p{
    width: 60vw;
    max-width: 308px;
    height: 11vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
   
}

.img_sofia{
    min-height: 70vh;
    max-width: 334px ;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.img_sofia img{
    width: 100%;
    max-width: 334px;
    height: auto;
    position: absolute;
    top: 20px;
}
/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me{
    min-height: 100vh;
}

.about_me div{
    height: 15vh;
    width: 100vw;
    border: black solid 3px;
    text-align: center;
    background-image: url('./Assets/green_background_1024px.jpg');
}

.about_me div h2{
    color: white;
    margin-top: 5vh;
}

.about_me_article{
    min-height: 85vh;
    max-width: 1400px;
}

.about_me_article_box{
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: rgb(0, 0, 0) solid 7px;
    color: black;
}

.about_me_article_box p{
    margin:0;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

.about_me_article_box p:nth-child(5){
    margin-bottom: 20px;
}

.about_me_icons{
    height:25vh;
    display:flex;
}

.about_me_icons i{
    width: 50vw;
}

.fa-solid.fa-dog{
    text-align: center;
    margin-top: 5vh;
    font-size: 70pt;
    margin-left: auto;
}

.fa-regular.fa-futbol{
    text-align: center;
    margin-top: 5vh;
    font-size: 70pt;
    margin-left: auto;
}

.about_me_img{
    display: none;
}

/*-----------------------------------------------------------
-------------------------Skills----------------------------
------------------------------------------------------------*/

.skills{
    min-height: 100vh;
    border: solid black 2px;
}

.skills div{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.skills .skills_header{
    height: 15vh;
    background-color: red;
}

.skills_language{
    min-height: 42.5vh;
    background-color: blue;
}

.skills_code{
    min-height: 42.5vh;
    background-color: blue;
}

.skills_language h2, .skills_code h2{
    height:10vh;
    border: black solid 2px;
    background-color: green;
}

.skills_language article, .skills_code article{
    display: flex;
}

.skills_small_header, .skills_dots{
    width: 50vw;
    height: 16.25vh;
    border: black solid 2px;
}


/*-----------------------------------------------------------
-------------------------Education---------------------------
------------------------------------------------------------*/

.education{
    min-height: 150vh;
    border: black solid 2px;
}

.education h2{
    height: 15vh; 
    background-color: red;
}

.education_box article{
    height: 45vh;
    border: black solid 2px;
}

.education_box article h3{
    height: 12vh;
    background-color: green;
}

.education_box article h4{
    height: 8vh;
    background-color: purple;
}

.education_box article p{
    height: 25vh;
    background-color: greenyellow;
}


/*-----------------------------------------------------------
-------------------------Work---------------------------
------------------------------------------------------------*/

.work{
    min-height: 150vh;
    border: black solid 2px;
}

.work h2{
    height: 15vh;
    background-color: red;
}

.work_box article{
    height: 45vh;
    border: black solid 2px;
}

.work_box article h3{
    height: 12vh;
    background-color: green;
}

.work_box article h4{
    height: 8vh;
    background-color: purple;
}

.work_box article p{
    height: 25vh;
    background-color: greenyellow;
}
/*-----------------------------------------------------------
-------------------------Projects---------------------------
------------------------------------------------------------*/

.projects {
    min-height: 100vh;
    border: black solid 2px;
}

.projects h2{
    height: 15vh;
    background-color: red;
}

.projects article{
    min-height: 70vh;
    background-color: greenyellow;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.projects h3{
    height: 15vh;
    background-color: yellow;
    width: 100%;
}

.projects article p{
    height: 40vh;
    border: black solid 2px;
}

.projects article section{
    height: 100vh;
    border: solid black 2px;
}

/*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

.contact_me{
    min-height: 100vh;
    border: black 2px solid;
}

.contact_me h2{
    height: 15vh;
    background-color: black;
}

.contact_me article{
    height: 85vh;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.contact_me article address{
    min-height: 60vh;
    background-color: burlywood;

}

.contact_me article section{
    height: 25vh;
    border: red solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact_me article section i{
    width: 10vh;
    height: 10vh;
    border: black solid 2px;
}