*{
    box-sizing: border-box;
}

h2, h3, h4, p{
    margin: 0;
}

.row_brake{
    content: ' ';
    display: block;
}

.text_align_center{
    text-align: center;
}

/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

header{
    min-height: 10vh;
    display: flex;
}

.header_title{
    width: 100vw;
    background-color: rgb(17, 29, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    margin:0;
    color:  white;
}

.header_title h2{
    display: none;
    color: white;
    margin:0;
}




/*-----------------------------------------------------------
-------------------------Menu button------------------------------
------------------------------------------------------------*/

.menu_button{
    height: 50px;
    width: 55px;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 3;
    pointer-events: none;
}

.menu_button span{
    background-color: rgb(0, 0, 0);
    width: 35px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

input{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 75px;
    right: 0;
    background-color: lightseagreen;
    width: 50vw;
    height: 50vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.516);
    text-transform: uppercase;
}

li{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
}

/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

.first_page{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}



.first_page_box{
 height: 100px;
 width: 80vw;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 1vh;
}

.first_page_box p{
    width: 60vw;
    max-width: 308px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.img_sofia{
    max-width: 334px ;
    margin-left: auto;
    margin-right: auto;
}

.img_sofia img{
    width: 100%;
    max-width: 334px;
    margin-top: 10px;
}
/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me div{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg');
}

.about_me div h2{
    color: white;
    line-height: 150px
}

.about_me_article{
    max-width: 1400px;
}

.about_me_article_box{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: rgb(26, 25, 25) solid 3px;
    border-radius: 5px;
    background-color: rgb(245, 240, 241);
    color: black;
}

.about_me_article_box p{
    margin:0;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
}

.about_me_article_box p:nth-child(5){
    margin-bottom: 20px;
}

.about_me_icons{
    min-height:40px;
    display:flex;
    margin-bottom: 10px;
}

.about_me_icons i{
    width: 50vw;
}

.fa-solid.fa-dog{
    text-align: center;
    margin-top: 60px;
    font-size: 70pt;
    margin-left: auto;
}

.fa-regular.fa-futbol{
    text-align: center;
    margin-top: 60px;
    font-size: 70pt;
    margin-left: auto;
}

.about_me_img{
    display: none;
}

/*-----------------------------------------------------------
-------------------------Skills----------------------------
------------------------------------------------------------*/

.skills_header_box{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg');
}

.skills_box{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.skills .skills_header{
   color: white;
   line-height: 150px;
}

.skills_language{
    text-align: center;
}

.skills_code{
    text-align: center;
     
}

.skills_code div, .skills_language div{
    height: 70px;
    width: 100vw;
    max-width: 350px;
    border: black solid 3px;
    text-align: center;
    background-color: rgb(58, 58, 58);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.skills_language h2, .skills_code h2{
    color: white;
    line-height: 70px;
   
}

.skills_language article, .skills_code article{
    display: flex;
    width: 100vw;
    max-width: 350px;
    height: 300px;
    border: black solid 2px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    background-color: rgb(245, 240, 241);
}

.skills_code article ul{
    margin-left: auto;
    margin-right: auto;
}

.skills_ul_items{
    font-size: 1.2rem;
}

.skills_code article ul li span, .skills_language article ul li span{
height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
}

.black_dot{
    background-color: black;
}

.white_dot{
    border: solid black 2px;
}


/*-----------------------------------------------------------
-------------------------Education---------------------------
------------------------------------------------------------*/

.education{
    border: black solid 2px;
}

.education_header_box{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg');
}

.education_header_box h2{
    color: white;
    line-height: 150px;
}

.education_container{
   min-height: 700px;
}

.education_box article{
    height: auto;
    min-height: 180px;
    border: black solid 5px;
    margin-top: 60px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color:  rgb(245, 240, 241);
}

.dark_header{
    background-color: rgb(58, 58, 58);
    padding: 15px;
    color: white;
}

.education_box article p{
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*-----------------------------------------------------------
-------------------------Work-------------------------------
------------------------------------------------------------*/
.work{
    border: black solid 2px;
}

.work_container{
    min-height: 700px;
}

.work_header_box{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg');
}

.work_header_box h2{
    color: white;
    line-height: 150px;
}

.work_box article{
    height: auto;
    min-height: 180px;
    border: black solid 5px;
    margin-top: 60px;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(245, 240, 241);
    margin-bottom: 10px;
}

.work_box article p{
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*-----------------------------------------------------------
-------------------------Projects---------------------------
------------------------------------------------------------*/

.projects {
    border: black solid 2px;
}

.projekts_header_box{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg');
}

.projects h2{
    color: white;
    line-height: 150px;
}

.projects_to_the_moon{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.projects h3{
    line-height: 100px;
}

.projects article{
    min-height: 700px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projects article p{
    min-height: 150px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects article section{
    min-height: auto;
}

.projects article section img{
    height: auto;
    width: 100%;
    max-width: 500px;
}

/*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

.contact_me div{
    height: 150px;
    width: 100vw;
    text-align: center;
    background-image: url('./Assets/steffi-harms-Cj0tPzC5Uic-unsplash-1024.jpg')
}

.contact_me h2{
    color: white;
    line-height: 150px;
}

.contact_me article{
    height: 300px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.contact_me article address{
    height: 300px;
    width: 100vw;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
}

.contact_me article address h3{
    margin-top: 60px;
}

.contact_me article section{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.contact_me article section i{
    width: 200px;
    height: 150px;
}

.fa-brands.fa-github{
    font-size: 80pt;
}

.fa-brands.fa-linkedin{
    font-size: 80pt;
}