*{
    box-sizing: border-box;
}

h2, h3, h4, p{
    margin: 0;
}

.row_brake{
    content: ' ';
    display: block;
}

.text_align_center{
    text-align: center;
}

/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

header{
    min-height: 20vh;
    display: flex;
    box-shadow: rgb(15, 30, 46) 0px 7px 15px -10px,
}

.header_title{
    width: 100vw;
    background: radial-gradient(#717577, #44494d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #000000;
}

h1{
    margin:0;
    color:  white;
    font-size: 4rem;
}

.header_title h2{
    display: none;
    color: white;
    margin:0;
    font-size: 2.5rem;
}




/*-----------------------------------------------------------
-------------------------Menu button------------------------------
------------------------------------------------------------*/

.menu_button{
    height: 50px;
    width: 55px;
    background-color: transparent;
    border: none;
    position: fixed;
    top: 25px;
    right: 20px;
    z-index: 3;
    pointer-events: none;
}

.menu_button span{
    background-color: rgb(0, 0, 0);
    width: 40px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: 3px;
}

input{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 75px;
    right: 0;
    background-color: lightseagreen;
    width: 50vw;
    height: 50vh;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    z-index: 2;
}

input:checked + .menu nav{
    visibility: visible;
    opacity: 1;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-size: 2.8rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.516);
    text-transform: uppercase;
}

nav ul li{
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 700;
}

/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

.first_page{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

.first_page_box{
 height: 100px;
 width: 80vw;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 1vh;
}

.img_sofia{
    max-width: 400px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.img_sofia img{
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
     }
     
.first_page_box p{
    width: 60vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-shadow: 2px 2px 8px #cecece;
    text-align: center; 
    font-size: 1.2rem;  
}
/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me{
    background-color: rgba(68, 131, 190, 0.233);
    box-shadow: rgb(38, 57, 77) 0px 7px 15px -10px, rgb(38, 57, 77) 0px -7px 15px -10px;
    min-height: 700px;
}

.about_me div{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.about_me div h2{
    line-height: 100px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3rem;
}

.about_me_article{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.about_me_article_box{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #ffffff;
}

.about_me_article_box p{
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px;
}

.about_me_article_box p:nth-child(5){
    margin-bottom: 20px;
}

.about_me_icons{
    min-height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about_me_icons i{
    width: 50vw;
    height: 140px;
}

.fa-solid.fa-dog{
    text-align: center;
    font-size: 70pt;
    margin-left: auto;
}

.fa-regular.fa-futbol{
    text-align: center;
    font-size: 70pt;
    margin-left: auto;
}

.about_me_article img{
    display: none;
}

/*-----------------------------------------------------------
-------------------------Skills----------------------------
------------------------------------------------------------*/

.skills_header_box{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.skills_box{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.skills_header{
   line-height: 100px;
   font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3rem;
}

.skills_language, .skills_code{
    text-align: center;
}

.skills_language article, .skills_code article{
    max-width: 450px;
    min-height: 300px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 20px;
    background: radial-gradient(#717577, #44494d);
    border-radius: 10px;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 7px 15px -10px, rgb(38, 57, 77) 0px -7px 15px -10px;
    margin-bottom: 60px;
}

.skills_language h2, .skills_code h2{
    color: white;
    line-height: 100px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2rem;
}

.skills_code article ul, .skills_language article ul{
    list-style: none;
    height: 200px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
}

.skills_code article ul li, .skills_language article ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.skills_code article ul li span, .skills_language article ul li span{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.black_dot{
    background-color: white;
    
}

.white_dot{
    border: solid white 2px;
}


/*-----------------------------------------------------------
-------------------------Education---------------------------
------------------------------------------------------------*/

.education{
    background-color: rgba(68, 131, 190, 0.233);
    box-shadow: rgb(38, 57, 77) 0px 7px 15px -10px, rgb(38, 57, 77) 0px -7px 15px -10px;
    min-height: 850px;
}

.education_header_box{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.education_header_box h2{
    line-height: 100px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3rem;
}

.education_box{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.education_box section {
    text-align: center;
}

.education_box article{
    width: 100vw;
    max-width: 450px;
    min-height: 170px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 7px 15px -10px, rgb(38, 57, 77) 0px -7px 15px -10px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.education_box article h3{
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px 8px #cecece;
    font-size: 1.5rem;
    font-weight: 400;
}

.education_box article h4{
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px 8px #cecece;
    font-size: 1rem;
    margin-top: 7px;
    font-weight: 400;
}

/*-----------------------------------------------------------
-------------------------Work-------------------------------
------------------------------------------------------------*/
.work{
    min-height: 850px;
}

.work_header_box{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.work_header_box h2{
    line-height: 100px;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3rem;
   font-family: 'Italianno', cursive;
}

.work_box{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.work_box section{
    text-align: center;
}

.work_box article{
    width: 100vw;
    max-width: 450px;
    min-height: 200px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


.work_box article h3{
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem
}

.work_box article h4{
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    margin-top: 5px;
}

.work_box article p{
    margin: 10px;
    margin-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
}


/*-----------------------------------------------------------
-------------------------Projects---------------------------
------------------------------------------------------------*/

.projects {
    background-color: rgba(68, 131, 190, 0.233);
    box-shadow: rgb(38, 57, 77) 0px 7px 15px -10px, rgb(38, 57, 77) 0px -7px 15px -10px;
}

.projekts_header_box{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.projects h2{
    line-height: 100px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #ffffff;
    font-size: 3rem;
}

.projects_to_the_moon{
    height: fit-content;
    width: 100vw;
    text-align: center;
}

.projects h3{
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px #ffffff;
}

.projects article{
    min-height: 450px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projects article p{
    min-height: 150px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    text-shadow: 2px 2px 4px #ffffff;
    font-weight: 500;
}

.projects article section button{
    border: none;
    background-color: transparent;
    padding: 0;
    max-height: 177.75px;
}

.projects article section img:hover{
    opacity: 0.7;
    border: black solid 5px;
    border-radius: 10px;
}

.projects article section img{
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

footer section{
    background: radial-gradient(#717577, #44494d);
}

.contact_me div{
    height: 100px;
    width: 100vw;
    text-align: center;
}

.contact_me h2{
    color: white;
    line-height: 100px;
    font-family: 'Italianno', cursive;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3rem;
}

.contact_me article{
    min-height: 400px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.contact_me article address{
    height: 300px;
    width: 100vw;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.contact_me article address{
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    text-shadow: 2px 2px 4px #000000;}

.contact_me article address h3{
   margin-top: 20px; 
}


.contact_me article address button{
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact_me article address button:hover{
    color: rgb(179, 218, 255);
}


.fa-brands.fa-github{
    font-size: 80pt;
    text-shadow: 2px 2px 4px #000000;
}

.fa-brands.fa-linkedin{
    font-size: 80pt;
    text-shadow: 2px 2px 4px #000000;
}