/*-----------------------------------------------------------
-------------------------Skills----------------------------
------------------------------------------------------------*/

.skills{
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.skills .skills_header{
    height: 10vh;
}

.skills_language{
    min-height: 15vh;
}

.skills_code{
    min-height: 15vh;
}

.skills_language h2, .skills_code h2{
    height:7vh;
}

.skills_small_header, .skills_dots{
    height: 10vh;
}

