
/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/


h1{
    font-size: 6rem;
}

.header_title h2{
    font-size: 3.5rem;
}

/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me_article img{
    max-width: 230px;
}

.about_me_article_box p{
    font-size: 1.2rem;
}
/*-----------------------------------------------------------
-------------------------work---------------------------
------------------------------------------------------------*/

    .work_box article h3{
        font-size: 2rem
    }
    
    .work_box article h4{
        font-family: 'Dosis', sans-serif;
        font-size: 1.5rem;
        margin-top: 5px;
    }
    
    .work_box article p{
        margin: 10px;
        margin-top: 20px;
        font-family: 'Dosis', sans-serif;
        font-size: 1.4rem;
    }

    /*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

.contact_me article address{
    font-size: 1.5rem;
}
