/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

header{
    min-height: 20vh;
}

/*-----------------------------------------------------------
-------------------------Menu button------------------------------
------------------------------------------------------------*/

.menu_button{
    height: 60px;
    width: 65px;
}

.menu_button span{
    background-color: black;
    width: 40px;
}

input{
    width: 65px;
    height: 65px;
}

nav {
    width: 25vw;
}

/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me_article{
   display: flex;
   margin-left: auto;
   margin-right: auto;
}

.about_me_article p{
    width: 50vw;
}

.about_me_icons{
    display: none;
}

.about_me_img{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 50vw;
}

.about_me_img img{
    border: black solid 2px;
    height: 42.5vh;
}


/*-----------------------------------------------------------
-------------------------Education---------------------------
------------------------------------------------------------*/

.education_container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.education_box{
    min-height: 135vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem;
}

.education_box article{
    width: 40vw;
    height: 60vh;
    max-width: 500px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.education_box article p{
    height: 34vh;
    max-height:249px;
}

.education_ag{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
}

.education_gu{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.education_mi{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 170px;
}


/*-----------------------------------------------------------
-------------------------Work---------------------------
------------------------------------------------------------*/

.work_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.work_box{
   min-height: 135vh;
    background-color: aqua;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem;
}

.work_box article{
    width: 40vw;
    height: 60vh;
    max-width: 500px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.work_box article p{
    height: 34vh;
    max-height:249px;
}


.work_electrolux{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
}

.work_p7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.work_nellie{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 170px;
}

/*-----------------------------------------------------------
-------------------------Projects---------------------------
------------------------------------------------------------*/

.projects article{
    display: flex;
    align-items: center;
}

.projects article p{
    height: 60vh;
    width: 50vw;
}

.projects article section{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

/*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

.contact_me{
    min-height: 100vh;
    border: black 2px solid;
}

.contact_me article{
    display: flex;
    align-items: center;
}

.contact_me article address{
    width: 50vw;

}

.contact_me article section{
   width: 50vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
}