/*-----------------------------------------------------------
-------------------------Header------------------------------
------------------------------------------------------------*/

.header_title h2{
    display: block;
}

/*-----------------------------------------------------------
-------------------------Menu button------------------------------
------------------------------------------------------------*/

.menu_button{
    height: 60px;
    width: 65px;
}

.menu_button span{
    width: 40px;
}

input{
    width: 65px;
    height: 65px;
}

nav {
    width: 25vw;
}

/*-----------------------------------------------------------
-------------------------About me------------------------------
------------------------------------------------------------*/

.about_me_article{
   display: flex;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   
}

.about_me_article_box{
     max-width: 700px;
     height: fit-content;
}

.about_me_article_box p{
    width: 50vw;
    max-width: 650px;
}

.about_me_icons{
    display: none;
}

.about_me_img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 50vw;
    max-width: 700px;
}

.about_me_img img{
    height: auto;
    width: 100%;
    max-width: 250px;
}

/*-----------------------------------------------------------
-------------------------Skills----------------------------
------------------------------------------------------------*/

.skills_box{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: space-around;
}


/*-----------------------------------------------------------
-------------------------Education---------------------------
------------------------------------------------------------*/

.education_container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.education_box article{
    width: 40vw;
    max-width: 500px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

/*-----------------------------------------------------------
-------------------------Work---------------------------
------------------------------------------------------------*/

.work_container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


.work_box article{
    width: 40vw;
    max-width: 500px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    
}
/*-----------------------------------------------------------
-------------------------Projects---------------------------
------------------------------------------------------------*/

.projects article{
    display: flex;
    align-items: center;
}

.projects article p{
    height: 60vh;
    width: 50vw;
}

.projects article section{
    display: flex;
    flex-direction: column;
    width: 50vw;
}

/*-----------------------------------------------------------
-------------------------Contact---------------------------
------------------------------------------------------------*/

.contact_me{
    min-height: 100vh;
    border: black 2px solid;
}

.contact_me article{
    display: flex;
    align-items: center;
}

.contact_me article address{
    width: 50vw;

}

.contact_me article section{
   width: 50vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
}